# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# PyCharm
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node (если фронт будет на npm)
node_modules/
dist/
build/

# Environment variables
.env